/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Mythicals implementation : © joesimpson <1324811+joesimpson@users.noreply.github.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * mythicals.scss
 *
 * Mythicals stylesheet
 *
 */

@use "sass:math";
@import "modules/css/variables";
@import "modules/css/icons";
@import "modules/css/player-panel";
@import "modules/css/board";
@import "modules/css/cards";
@import "modules/css/tiles";
@import "modules/css/meeples";
@import "modules/css/scoring";
@import "modules/css/settings";
@import "modules/css/nouislider";
@import "modules/css/flip";
/**
    PREFIX FOR THIS GAME PROJECT : "myt"
*/

//html 
//{
//    background-image:url("img/background/white.jpg");
//    background-repeat:repeat;
//    background-size:1920px 1080px;
//}

#myt_overall_background{
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}

body[data-myt_background_style='1']{//PREF_BACKGROUND_WHITE
    #myt_overall_background
    {
        //opacity: 0.9;
        background-image:url("img/background/white.jpg");
    }
}
body[data-myt_background_style='2']{//PREF_BACKGROUND_BGA
    #myt_overall_background
    {
        visibility: hidden;
    }
}
body[data-myt_background_style='3']{//PREF_BACKGROUND_DARK
    #myt_overall_background
    {
        //background:#000000bf;
        background-image:url("img/background/white.jpg");
        filter: invert(1);
    }
}

#myt_main_zone{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row;
    column-gap: 5px;
    opacity: 1;
    //transition: visibility 0s, opacity 0.5s linear;

    #myt_left_zone{
        max-width: 25%;
        display: flex;
        flex-flow: column;
        align-items: center;
        align-self: start;
        position: relative;
        top: 10px;
    }

    #myt_board_zone{
        //width: 80%;
        max-width: 80%;
        align-self: start;
    }
}

.myt_nodisplay{
    display: none !important;
}
.myt_hidden{
    visibility: hidden !important;
}

.myt_h1{
    font-size: 28px;
    font-weight: 400;
}
.myt_h2{
    font-size: 18px;
    font-weight: 700;
}
.myt_h3{
    font-size: 16px;
    font-weight: 700;
}

// For animations : 
.phantom {
    visibility: hidden;
}  
#pagemaintitletext,
#gameaction_status 
{
    .myt_card{
        position: absolute;
    }
}
//Buttons :
.myt_selected_button{
    background-color: rgb(255, 115, 0) !important;
    background-image: none !important;
    &:hover{
        // overrides BGA default
        background-color: rgba(255, 115, 0, 0.75) !important;
    }
}

#btnTextSeparator{
    background: inherit;
    color: inherit;
    border: none;
    box-shadow: none;
}
#btnConfirmReinforce{
    &.disabled{
        display: none;
    }
}

body[data-myt_undo_style='1']{//PREF_UNDO_STYLE_TEXT
    #btnIconUndoLastStep, 
    #btnIconRestartTurn
    {
        display: none !important;
    }
}
body[data-myt_undo_style='2']{//PREF_UNDO_STYLE_ICON
    #btnTextUndoLastStep,
    #btnTextRestartTurn
    {
        display: none !important;
    }
}

#btnCollectReserve_1{//CARD_COLOR_BLUE
    &:not(.disabled){
        background-color: #295c84;
    }
    color: white;
}
#btnCollectReserve_2{//CARD_COLOR_GREEN
    &:not(.disabled){
        background-color: #395e2d;
    }
    color: white;
}
#btnCollectReserve_3{//CARD_COLOR_PURPLE
    &:not(.disabled){
        background-color: #662770;
    }
    color: white;
}
#btnCollectReserve_4{//CARD_COLOR_RED
    &:not(.disabled){
        background-color: #862015;
    }
    color: white;
}

#btnReinforce{
    &:not(.disabled){
        background-color: rgb(70, 82, 133);
    }
    color: white;
}
#btnLock{
    &:not(.disabled){
        background-color: rgb(132, 96, 66);
    }
    color: white;
}


body.lockedInterface{

    #customActions,
    #restartAction{
        pointer-events: none;
    }
}
 
// SAFE MODE --------------------------
#ebd-body.help-mode {
    .tooltipable {
        cursor: help;
    }
    #help-mode-switch{
        svg{
            color: #1b69ff;
        }
    }
}
.help-marker-background{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.help-marker {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    z-index: 900;
    color: black;
    border: 1px solid black;
    border-radius: 50%;

    svg {
        width: 20px;
        height: 20px;
    }
}

#ebd-body:not(.help-mode) {
    .help-marker {
        opacity: 0;
        pointer-events: none;
    }
}

//--------------------------------------
/* Cancelled notification messages */
.log.cancel {
    color: #c62828 !important;
    text-decoration: line-through;
}
/* Desktop logs */
.log.cancel .roundedbox {
    background-color: rgba(240, 186, 117, 0.6) !important;
}
/* Mobile logs */
.log.cancel.roundedbox {
    background-color: #ef9a9a;
}
// ------------------------------------------------------------------------------
// Override BGA style for log player_name
.playername_wrapper_ffa500,
.playername_wrapper_bdd002,
.playername_wrapper_72c3b1,
.playername_wrapper_ffffff{//WHITE
    .playername, // Different in replay ?
    &.playername {
        text-shadow: 2px 0px 2px black, 
                    0px 2px 2px black,
                    -2px 0px 2px black,
                    0px -2px 2px black; 
    }
}

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// Re enable list style over BGA common CSS, only for wanted section : game WIKI and some tooltips 
#pagesection_howtoplay li, .midSizeDialog li { margin-left: 2em; } 
#pagesection_howtoplay ol li { list-style: decimal; } /* BEFORE ul in case there are ul under ol */ 
#pagesection_howtoplay ul li, .midSizeDialog ul li { list-style: disc; }
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
/*** FIX BGA 3D mode clicks : **/
.mode_3d #game_play_area_wrap {
    pointer-events: none;
 }
 #myt_game_container {
    pointer-events: all;
 } 
// ------------------------------------------------------------------------------