
$board_img_width: 3750px;
$board_img_height: 1842px;
$card_width: 450px;
$card_height: var(--myt_board_card_height);

#myt_resizable_board {
    width: calc(var(--myt_board_display_scale) * $board_img_width);
    height: calc(var(--myt_board_display_scale) * $board_img_height);
    margin-bottom: 10px;
    margin-bottom: 250px;//TEST With 5 stacked cards
    //To prepare the height of the stack, we add 1 card_height for the top card, and then N-1 times the truncated part of the card
    margin-bottom: calc(10px 
        + var(--myt_board_display_scale) * (
            $card_height 
            + ((var(--myt_board_cards_stack_max) - 1) * calc(var(--myt_board_cards_stack_height_ratio) * $card_height )))
        );
    #myt_board_container{
        /* prevents vertical invisible overflow on BGA bottom elements*/
        height: inherit;
        
        #myt_board{
            width: $board_img_width;
            height: $board_img_height;
            transform: scale(var(--myt_board_display_scale));
            transform-origin: top left;
            border-radius: 10px;
            border: 2px solid black;
            box-shadow: 1px 1px 10px black;
            position: relative;

            display: flex;
            flex-wrap: wrap;

            background-size: 100% auto;
            background-repeat: no-repeat;

            background-image: url('img/board.jpg');

            .help-marker{
                //Keep around the same size for the help marker in help mode
                transform: scale(calc(1 / var(--myt_board_display_scale)));
                transform-origin: top left;
            }

            #myt_board_tiles{
                //position: absolute;
                //grid-template-columns: repeat(7, 1fr);
                //grid-template-rows: repeat(4, 1fr);
                //display: grid;
                
                .myt_board_tile_cell{
                    position: absolute;
                    //z-index: 2;
                    //width: 400px;
                    //height: 400px;
                    //COLOR will gives the "COLUMN" :
                    &[data-color="3"]{//TILE_COLOR_PURPLE
                        left: 130px;
                    } 
                    &[data-color="2"]{//TILE_COLOR_GREEN
                        left: 752px;
                    } 
                    &[data-color="4"]{//TILE_COLOR_RED
                        left: 1380px;
                    } 
                    &[data-color="1"]{//TILE_COLOR_BLUE
                        left: 2002px;
                    } 
                    &[data-color="5"]{//TILE_COLOR_GRAY
                        left: 2575px;
                    } 
                    &[data-color="6"]{//TILE_COLOR_BLACK
                        left: 2940px;
                    } 
                    //SCORING will gives the "line" :
                    &[data-scoringtype="4"]{//TILE_SCORING_SUITE_5
                        top: 168px;
                    } 
                    &[data-scoringtype="3"]{//TILE_SCORING_SUITE_4
                        top: 533px;
                    } 
                    &[data-scoringtype="2"]{//TILE_SCORING_SUITE_3
                        top: 908px;
                    } 
                    &[data-scoringtype="1"]{//TILE_SCORING_SUITE_2
                        top: 1245px;
                    } 
                    //------------
                    &[data-scoringtype="8"]{//TILE_SCORING_SUITE_6
                        top: 75px;
                    } 
                    &[data-scoringtype="7"]{//TILE_SCORING_SAME_4
                        top: 525px;
                    } 
                    &[data-scoringtype="6"]{//TILE_SCORING_SAME_3
                        top: 895px;
                    } 
                    &[data-scoringtype="5"]{//TILE_SCORING_SAME_2
                        top: 1255px;
                    } 
                }
            }

            #myt_cards_reserve{
                position: absolute;
                top: calc($board_img_height - 40px);
                
                .myt_card {
                    width: $card_width;
                    height: $card_height;
                }
                .myt_cards_stack_resizable{
                    position: absolute;

                    &#myt_cards_reserve_resizable_3{//CARD_COLOR_PURPLE
                        left: 68px;
                    }
                    &#myt_cards_reserve_resizable_2{//CARD_COLOR_GREEN
                        left: 693px;
                    }
                    &#myt_cards_reserve_resizable_4{//CARD_COLOR_RED
                        left: 1317px;
                    }
                    &#myt_cards_reserve_resizable_1{//CARD_COLOR_BLUE
                        left: 1943px;
                    }
                }
            }
            .myt_cards_stack{
                .myt_card {
                    //Stack cards 
                    margin-bottom: -165%;
                    margin-bottom: calc( -1 * (1 - var(--myt_board_cards_stack_height_ratio)) * $card_height);
                }
            }
            .myt_cards_stack_resizable {
                @for $i from 1 through 12 {//6 should be enough to have each card, but we may earn all copies of 1 color at a time from reserve
                    &[data-nbcards="#{$i}"]{//This number will be computed on JS side based on children
                        //To prepare the height of the stack, we add 1 card_height for the top card, and then N-1 times the truncated part of the card
                        height: calc(10px 
                                + $card_height
                                + ($i - 1)  * calc(var(--myt_board_cards_stack_height_ratio) * $card_height )
                            );
                    }
                }
            }

            #myt_board_tokens{
                position: absolute;
                left: 3185px;
                top: 622px;
                //outline: 10px solid yellow;
                //border-radius: 250px;
                width: 496px;
                height: 910px;

                .myt_bonus_token{
                    width: 150px;
                    height: 150px;
                    position: absolute;
                                    
                    @for $i from 1 through 8 {
                        &:nth-of-type(#{$i}){
                            top: calc(($i - 1) * 100px);
                            left: 100px;
                        }
                    }             
                    @for $i from 9 through 16 {//NB_BONUS_TOKEN_COPIES
                        &:nth-of-type(#{$i}){
                            top: calc((16 - $i - 1) * 100px);
                            left: 200px;
                        }
                    }
                }

                &.tooltipable:hover{
                    border-radius: 250px;
                    outline: 10px solid gold;
                
                }

            }

            #myt_board_hints{
                position: absolute;
                .myt_board_tile_require{
                    position: absolute;
                    width: 140px;
                    height: 140px;
                    &.tooltipable:hover{
                        cursor: help;
                        outline: 10px solid yellow;
                    }
                    &[data-scoringtype="4"]{//TILE_SCORING_SUITE_5
                        top: 297px;
                        &[data-index="1"]{//LEFT
                            left: 550px;
                        }
                        &[data-index="2"]{//right
                            left: 1800px;
                        }
                    } 
                    &[data-scoringtype="3"]{//TILE_SCORING_SUITE_4
                        top: 650px;
                        &[data-index="1"]{//LEFT
                            left: 550px;
                        }
                        &[data-index="2"]{//right
                            left: 1800px;
                        }
                    } 
                    &[data-scoringtype="2"]{//TILE_SCORING_SUITE_3
                        top: 1005px;
                        &[data-index="1"]{//LEFT
                            left: 550px;
                        }
                        &[data-index="2"]{//right
                            left: 1800px;
                        }
                    } 
                    &[data-scoringtype="1"]{//TILE_SCORING_SUITE_2
                        top: 1355px;
                        &[data-index="1"]{//LEFT
                            left: 550px;
                        }
                        &[data-index="2"]{//right
                            left: 1800px;
                        }
                    } 
                    //------------
                    &[data-scoringtype="8"]{//TILE_SCORING_SUITE_6
                        left: 3348px;
                        top: 196px;
                    } 
                    &[data-scoringtype="7"]{//TILE_SCORING_SAME_4
                        left: 2988px;
                        top: 666px;
                    } 
                    &[data-scoringtype="6"]{//TILE_SCORING_SAME_3
                        left: 2988px;
                        top: 1020px;
                    } 
                    &[data-scoringtype="5"]{//TILE_SCORING_SAME_2
                        left: 2988px;
                        top: 1369px;
                    } 
                }
            }
        }
    }
}

#myt_cards_deck_container{
    margin: 5px;
    height: 230px;
}