
/* ---------------------------- ----------------------------   ---------------------------- */
/* ---------------------------- FONTS                          ---------------------------- */
/* ---------------------------- ----------------------------   ---------------------------- */

//FROM https://fonts.google.com/specimen/Bebas+Neue
@font-face {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    src: 
        url(img/fonts/Bebas_Neue/BebasNeue-Regular.ttf) format("truetype"),
}

//FROM https://fonts.google.com/specimen/Zen+Antique+Soft
@font-face {
    font-family: "Zen Antique Soft";
    font-style: normal;
    font-weight: 400;
    src: url(img/fonts/Zen_Antique_Soft/ZenAntiqueSoft-Regular.ttf) format("truetype");
        
}
