@mixin myt_icon_card_color($iconPosX,$iconPosY,$width,$height){
    width: $width;
    height: $height;
    background-image: url("img/board.jpg");
    $board_img_width: 3750px;
    $board_img_height: 1842px;
    $icon_img_width: 82px;
    $icon_img_height: 82px;

    $background_widthRatio: math.div($board_img_width, $icon_img_width );
    $background_heightRatio: math.div($board_img_height,$icon_img_height ); 
    background-position-x: calc(math.div($width, $icon_img_width) * $iconPosX);
    background-position-y: calc(math.div($height, $icon_img_height ) * $iconPosY);
    /*
    background-size: 
        math.percentage($background_widthRatio) 
        math.percentage($background_heightRatio);
    */
    //use of PERCENTAGE or PX in size AND X/y to avoid Safari/mobile bugs
    background-size: 
        calc($width * $background_widthRatio) 
        calc($height * $background_heightRatio);
}

//BLIND COLOR SYMBOLS
.myt_icon_color-1,
.myt_icon_color-2,
.myt_icon_color-3,
.myt_icon_color-4,
.myt_icon_card_color_log-1,
.myt_icon_card_color_log-2,
.myt_icon_card_color_log-3,
.myt_icon_card_color_log-4
{
    $icon_width: 41px;
    border-radius: 10px;
    &.myt_icon_color-1,
    &.myt_icon_card_color_log-1{//CARD_COLOR_BLUE
        @include myt_icon_card_color(-2146px,-1726px,$icon_width,$icon_width);
    }
    &.myt_icon_color-2,
    &.myt_icon_card_color_log-2{//CARD_COLOR_GREEN
        @include myt_icon_card_color(-896px,-1726px,$icon_width,$icon_width);
    }
    &.myt_icon_color-3,
    &.myt_icon_card_color_log-3{//CARD_COLOR_PURPLE
        @include myt_icon_card_color(-270px,-1726px,$icon_width,$icon_width);
    }
    &.myt_icon_color-4,
    &.myt_icon_card_color_log-4{//CARD_COLOR_RED
        @include myt_icon_card_color(-1523px,-1726px,$icon_width,$icon_width);
    }
}

.myt_icon_color-5,
.myt_icon_color-6
{
    border-radius: 10px;
    //Let's look at the gray and black tiles for those colors
    background-image: url("img/tiles.jpg");
    $tiles_img_width: 4096px;
    $tiles_img_height: 2560px;
    $icon_img_width: 140px;
    $icon_img_height: 140px;
    $icon_img_ratio: math.div(40px, $icon_img_width );

    background-size: 
        math.percentage(math.div($tiles_img_width, $icon_img_width )) 
        math.percentage(math.div($tiles_img_height,$icon_img_height )) 
        !important;
    background-repeat: repeat !important;
    width: calc( $icon_img_ratio * $icon_img_width);
    height: calc( $icon_img_ratio * $icon_img_height);
    
    &.myt_icon_color-5{//TILE_COLOR_GRAY
        background-position-y: calc( $icon_img_ratio * -2092px);
        background-position-x: calc( $icon_img_ratio * -328px);
    } 
    &.myt_icon_color-6{//TILE_COLOR_BLACK
        background-position-y: calc( $icon_img_ratio * -2081px);
        background-position-x: calc( $icon_img_ratio * -3420px);
    }
}
