@mixin _myt_icon_card_color_v1($iconPosX,$iconPosY,$width,$height){
    width: $width;
    height: $height;
    background-image: url("img/colors.jpg");
    $board_img_width: 1970px;
    $board_img_height: 874px;
    $icon_img_width: 295px;
    $icon_img_height: 295px;

    $background_widthRatio: math.div($board_img_width, $icon_img_width );
    $background_heightRatio: math.div($board_img_height,$icon_img_height ); 
    background-position-x: calc(math.div($width, $icon_img_width) * $iconPosX);
    background-position-y: calc(math.div($height, $icon_img_height ) * $iconPosY);
    /*
    background-size: 
        math.percentage($background_widthRatio) 
        math.percentage($background_heightRatio);
    */
    //use of PERCENTAGE or PX in size AND X/y to avoid Safari/mobile bugs
    background-size: 
        calc($width * $background_widthRatio) 
        calc($height * $background_heightRatio);
}

@mixin _myt_icon_card_color_v2($iconPosX,$iconPosY,$width,$height){
    background-image: url("img/colors.jpg");
    $colors_img_width: 1970px;
    $colors_img_height: 874px;
    $icon_img_width: 985px;
    $icon_img_height: 437px;
    width: $width;
    //$height: calc(math.div($width, $icon_img_width) * $icon_img_height);
    height: $height;

    $background_widthRatio: math.div($colors_img_width, $icon_img_width );
    $background_heightRatio: math.div($colors_img_height,$icon_img_height ); 
    background-position-x: calc(math.div($width, $icon_img_width) * $iconPosX);
    background-position-y: calc(math.div($height, $icon_img_height ) * $iconPosY);
    //use of PERCENTAGE or PX in size AND X/y to avoid Safari/mobile bugs
    background-size: 
        calc($width * $background_widthRatio) 
        calc($height * $background_heightRatio);
}

//BLIND COLOR SYMBOLS
.myt_icon_color-1,
.myt_icon_color-2,
.myt_icon_color-3,
.myt_icon_color-4,
.myt_icon_card_color_log-1,
.myt_icon_card_color_log-2,
.myt_icon_card_color_log-3,
.myt_icon_card_color_log-4,
.myt_icon_tile_color_log-1,
.myt_icon_tile_color_log-2,
.myt_icon_tile_color_log-3,
.myt_icon_tile_color_log-4
{
    $icon_width: 41px;
    border-radius: 10px;
    &.myt_icon_color-1,
    &.myt_icon_tile_color_log-1,
    &.myt_icon_card_color_log-1{//CARD_COLOR_BLUE
        @include _myt_icon_card_color_v1(-344px,-97px,$icon_width,$icon_width);
    }
    &.myt_icon_color-2,
    &.myt_icon_tile_color_log-2,
    &.myt_icon_card_color_log-2{//CARD_COLOR_GREEN
        @include _myt_icon_card_color_v1(-1330px,-97px,$icon_width,$icon_width);
    }
    &.myt_icon_color-3,
    &.myt_icon_tile_color_log-3,
    &.myt_icon_card_color_log-3{//CARD_COLOR_PURPLE
        @include _myt_icon_card_color_v1(-344px,-537px,$icon_width,$icon_width);
    }
    &.myt_icon_color-4,
    &.myt_icon_tile_color_log-4,
    &.myt_icon_card_color_log-4{//CARD_COLOR_RED
        @include _myt_icon_card_color_v1(-1330px,-537px,$icon_width,$icon_width);
    }
}

//Grey and black icons
.myt_icon_tile_color_log-5,
.myt_icon_tile_color_log-6,
.myt_icon_color-5,
.myt_icon_color-6
{
    border-radius: 10px;
    background-image: url("img/icons/icons.jpg");
    $icons_img_width: 1180px;
    $icons_img_height: 885px;
    $icon_img_width: 295px;
    $icon_img_height: 295px;
    $icon_img_ratio: math.div(40px, $icon_img_width );

    background-size: 
        math.percentage(math.div($icons_img_width, $icon_img_width )) 
        math.percentage(math.div($icons_img_height,$icon_img_height )) 
        !important;
    background-repeat: repeat !important;
    width: calc( $icon_img_ratio * $icon_img_width);
    height: calc( $icon_img_ratio * $icon_img_height);
    
    &.myt_icon_tile_color_log-5,
    &.myt_icon_color-5{//TILE_COLOR_GRAY
        background-position-y: calc( $icon_img_ratio * -1 * 2 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * 0);
    } 
    &.myt_icon_tile_color_log-6,
    &.myt_icon_color-6{//TILE_COLOR_BLACK
        background-position-y: calc( $icon_img_ratio * -1 * 2 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * -1 * 1 * $icon_img_width);
    }
}


//Grey and black icons
.myt_icon_scoring_type
{
    $icon_div_width: 70px;
    border-radius: 10px;
    background-image: url("img/icons/icons.jpg");
    $icons_img_width: 1180px;
    $icons_img_height: 885px;
    $icon_img_width: 295px;
    $icon_img_height: 295px;
    $icon_img_ratio: math.div($icon_div_width, $icon_img_width );

    background-size: 
        math.percentage(math.div($icons_img_width, $icon_img_width )) 
        math.percentage(math.div($icons_img_height,$icon_img_height )) 
        !important;
    background-repeat: repeat !important;
    width: calc( $icon_img_ratio * $icon_img_width);
    height: calc( $icon_img_ratio * $icon_img_height);
    
    &.myt_icon_scoring_type-1{//TILE_SCORING_SUITE_2
        background-position-y: calc( $icon_img_ratio * -1 * 0 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * -1 * 0 * $icon_img_width);
    } 
    &.myt_icon_scoring_type-2{//TILE_SCORING_SUITE_3
        background-position-y: calc( $icon_img_ratio * -1 * 0 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * -1 * 1 * $icon_img_width);
    } 
    &.myt_icon_scoring_type-3{//TILE_SCORING_SUITE_4
        background-position-y: calc( $icon_img_ratio * -1 * 0 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * -1 * 2 * $icon_img_width);
    } 
    &.myt_icon_scoring_type-4{//TILE_SCORING_SUITE_5
        background-position-y: calc( $icon_img_ratio * -1 * 0 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * -1 * 3 * $icon_img_width);
    }  
    &.myt_icon_scoring_type-5{//TILE_SCORING_SAME_2
        background-position-y: calc( $icon_img_ratio * -1 * 1 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * -1 * 0 * $icon_img_width);
    } 
    &.myt_icon_scoring_type-6{//TILE_SCORING_SAME_3
        background-position-y: calc( $icon_img_ratio * -1 * 1 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * -1 * 1 * $icon_img_width);
    } 
    &.myt_icon_scoring_type-7{//TILE_SCORING_SAME_4
        background-position-y: calc( $icon_img_ratio * -1 * 1 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * -1 * 2 * $icon_img_width);
    } 
    &.myt_icon_scoring_type-8{//TILE_SCORING_SUITE_6
        background-position-y: calc( $icon_img_ratio * -1 * 1 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * -1 * 3 * $icon_img_width);
    }  
}

.myt_icon_container {
    display: inline-block;
    vertical-align: middle;
    .myt_icon{
        &.myt_icon_cards{
            width: 2em;
            height: 2em;
        }
        &.myt_icon_tiles{
            width: 2em;
            height: 2em;
        }
        &.myt_icon_score,
        &.myt_icon_bonus_tokens,
        &.myt_icon_bonus-1 { //TOKEN_TYPE_BONUS_MARKER
            
            width: 3em;
            height: 3em;
                
            background-image: url('img/bonus_marker.png');
            background-size: 100%;
        }
    }
}


.customimagebutton{
    .myt_icon_container {
        .myt_icon{
            &.myt_icon_bonus-1 { //TOKEN_TYPE_BONUS_MARKER
                width: 2em;
                height: 2em;
                margin-left: 0.3em;
                margin-right: 0.3em;
            }
        }
    }
}