
#myt_score_animation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: "Zen Antique Soft";
    color: #2C3240;

    .myt_icon_container {
        font-size: 0.8em;

        .myt_icon_qty{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            padding-left: 20px;
            @for $i from 0 through 9 {
                &[data-value="#{$i}"] {
                    padding-left: 10px;
                }
            }
        }
    }
}

// ---------- SPECIFIC for SCORING PHASE we reuse the same block ------------ 
#myt_game_container.myt_scoringPhase {
    //Hiding content for scoring phase
    #myt_main_zone{
        display: none;
        //opacity: 0;
        //animation: myt_fade_out 1s;
    }
    #myt_players_table{
        flex-flow: column;
    }
    .myt_player_cards{
        display: none;
        opacity: 0;
    }
    
    .myt_player_table_title{
        display: flex;
        flex-flow: row;
        
        .myt_player_table_title_name{
            flex-grow: 90;
            font-size: 1.5em;
        }
        .myt_player_score_recap_container{
            flex-grow: 10;
            display: inherit;
            position: relative;
            font-size: 25px;
            padding-left: 20px;

            .myt_player_score_recap{
                margin-left: -18px;
                color: #2C3240;
            }
        }
    }
    //SHOWING TILES as a row, next to tokens
    .myt_player_table_content_right{
        width: 510px;
        padding-bottom: 10px;
        flex-flow: row;

        .myt_player_tiles{
            order: 1;
            
        }
        .myt_player_toptile{
            display: flex; 
            flex-flow: row;
            flex-wrap: wrap;

            .myt_tile{
                margin-bottom:5px;
                margin-right:5px;

                &::before{
                    content: unset;
                }
            }

        }
        .myt_player_tokens{
            order: 2;
        }
    }
} 