$tile_width: 100px;
$tile_height: 100px;
$tilesizeOnboardImg: 512px;

.myt_tile {
    width: $tile_width;
    height: $tile_height;
    $tile_ratio: math.div($tile_width, $tilesizeOnboardImg );
    //outline: 2px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;

    //sprite positions
    background-size: 800% 500%;
    background-image: url("img/tiles.jpg");
    background-position-x: 0;
    background-position-y: 0;

    @for $i from 0 through 19 {
        &[data-type="#{$i + 1}"] {
            //8 columns alterning : 4 columns for OPEN STATE + 4 columns for LOCKED
            
            &[data-face="1"] {//TILE_FACE_OPEN
                background-position-x: math.div(((2 * ($i) + 0) % 8) * 100%, 7);
            }
            &[data-face="2"] {//TILE_FACE_LOCKED
                background-position-x: math.div(((2 * ($i) + 1) % 8) * 100%, 7);
            }
            background-position-y: math.div(math.div($i - ($i % 4), 4) * 100%, 4);

        }
    }

    position: relative; 
    &.selectable {
        box-shadow: 0px 0px 40px 40px #0ff;
        //outline: 20px solid aqua;
        z-index: 3;
        cursor: pointer;
        //&:hover {
        //    transform: scale(1.1);
        //}
    }
    
    &.selected {
        //outline: 20px solid rgb(9, 212, 212);
        box-shadow: 0px 0px 10px 10px gold;
        //transform: scale(1.1);
        z-index: 4;
    }
    //&.tooltipable:hover{
    //    //outline: 8px solid black;
    //    box-shadow: 0px 0px 40px 40px black;
    //    z-index: 4;
    //}
    
    .myt_tile_token_spot{
        position: absolute;
        left: calc($tile_ratio * 50px);
        $token_spot_width: 140px;
        width: calc($tile_ratio * $token_spot_width);
        height: calc($tile_ratio * $token_spot_width); 
        
        //WE COUNT empty spots from bottom, to fill them from top
        &[data-index="2"]{
            top: calc($tile_ratio * 75px);
        }
        &[data-index="1"]{
            top: calc($tile_ratio * 298px);
        }
    }
    .myt_tile_lock_spot{
        position: absolute;
        right: 30px;
        top: 109px;
        z-index: 5;
        font-size: 80px;
        width: 100px;
        height: 100px;
        border-radius: 20%;
        text-align: center;
        visibility: hidden;
        color: white;
        &.selectable{
            visibility: visible;
            cursor: pointer;
            box-shadow: 0px 0px 10px 20px #0ff;
            &.selected{
                box-shadow: 0px 0px 10px 20px gold;
            }
        }
    }

}
//Manage HOVER only when not MOBILE TOUCH because may interfere
body.notouch-device{ 
    .myt_tile:hover {
        transform: scale(1.1);
    } 
    .myt_tile.tooltipable:hover{
        //outline: 8px solid black;
        box-shadow: 0px 0px 10px 10px black;
        z-index: 4;
    }
    #myt_board_tiles .myt_tile.tooltipable:hover{
        box-shadow: 0px 0px 40px 40px black;
    }
    #myt_board_tiles .myt_tile_token_spot.selectable:hover {
        transform: scale(1.3);
    }
    #myt_board_tiles .myt_tile_lock_spot.selectable:hover {
        transform: scale(1.3);
    }
}
 
#myt_board_tiles{
    .myt_tile{
        $tilesize: 360px;
        width: $tilesize;
        height: $tilesize;
        border-radius: 40px;
        $tile_ratio: math.div($tilesize, $tilesizeOnboardImg );

        //&.tooltipable:hover{
        //    outline-width: 30px;
        //}
        
        &.selected {
            //increase size because of bigger board tile
            box-shadow: 0px 0px 40px 40px gold;
        }
            
        .myt_tile_token_spot{
            position: absolute;
            left: calc($tile_ratio * 50px);
            $token_spot_width: 140px;
            width: calc($tile_ratio * $token_spot_width);
            height: calc($tile_ratio * $token_spot_width); 
            
            &.selectable{
                cursor: pointer;
                //outline: 10px solid gold;
                box-shadow: 0px 0px 10px 20px #0ff;
                border-radius: 50%;
                font-size: 80px;
                color: #0ff;
                //&:hover {
                //    transform: scale(1.1);
                //}
                &.selected{
                    //outline-color: green;
                    box-shadow: 0px 0px 10px 20px gold;
                    color: gold;
                }
            }
            //WE COUNT empty spots from TOP, to fill them from top
            &[data-index="1"]{
                top: calc($tile_ratio * 75px);
            }
            &[data-index="2"]{
                top: calc($tile_ratio * 298px);
            }
        }
    }
}

.myt_tile_tooltip{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    hr{
        width: 100%;
    }
    .myt_tile{
        //width: calc($tile_width * 2);
        //height: calc($tile_height * 2);
        width: 15em;
        height: 15em;
        border-radius: 30px;
    }
    .myt_require{
        font-weight: bold;
        font-style: italic;
        .myt_icon_scoring_type{
            float: left; 
            margin-right:10px;
        }

        .myt_require_detail{
            font-weight: normal;
            font-style: normal;
            text-align: justify;
        }
    }
}

.myt_player_tiles{
    .myt_player_toptile{
        
        .myt_tile{
            //add stack style where we see only the top one:
            position: absolute;

            &::after,
            &::before{  
                //Simulate a mini stack visual
                content: "";
                position:absolute;  
                top: 5px;
                left: 5px;
                width: $tile_width;
                height: $tile_height;
                border: 2px solid black;
                border-top: none;
                border-left: none;
                border-radius: 20px;
                //background-color: black;
            }
            &::after{
                top: 2px;
                left: 2px;
            }
        }

    }
}