$tile_width: 80px;
$tile_height: 80px;

.myt_tile {
    width: $tile_width;
    height: $tile_height;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;

    //sprite positions
    background-size: 800% 500%;
    background-image: url("img/tiles.jpg");
    background-position-x: 0;
    background-position-y: 0;

    @for $i from 0 through 19 {
        &[data-type="#{$i + 1}"] {
            //8 columns alterning : 4 columns for OPEN STATE + 4 columns for LOCKED
            
            &[data-state="1"] {//TILE_STATE_OPEN
                background-position-x: math.div(((2 * ($i+1) +0) % 8) * 100%, 7);
            }
            &[data-state="2"] {//TILE_STATE_LOCKED
                background-position-x: math.div(((2 * ($i+1) +1) % 8) * 100%, 7);
            }
            background-position-y: math.div(math.div($i - ($i % 4), 4) * 100%, 4);

        }
    }

    position: relative; 
    &.selectable {
        box-shadow: 0px 0px 7px 2px blue;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }

    &.selected,
    &.selected:hover {
        box-shadow: 0px 0px 7px 2px green;
        //transform: scale(1.1);
        z-index: 2;
    }
}

#myt_board_tiles{
    //TEMPORARY UNTIL GRID
    width: 800px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 5px;
}