$tile_width: 100px;
$tile_height: 100px;

.myt_tile {
    width: $tile_width;
    height: $tile_height;
    outline: 2px solid black;
    border-radius: 20px;

    //sprite positions
    background-size: 800% 500%;
    background-image: url("img/tiles.jpg");
    background-position-x: 0;
    background-position-y: 0;

    @for $i from 0 through 19 {
        &[data-type="#{$i + 1}"] {
            //8 columns alterning : 4 columns for OPEN STATE + 4 columns for LOCKED
            
            &[data-state="1"] {//TILE_STATE_OPEN
                background-position-x: math.div(((2 * ($i) + 0) % 8) * 100%, 7);
            }
            &[data-state="2"] {//TILE_STATE_LOCKED
                background-position-x: math.div(((2 * ($i) + 1) % 8) * 100%, 7);
            }
            background-position-y: math.div(math.div($i - ($i % 4), 4) * 100%, 4);

        }
    }

    position: relative; 
    &.selectable {
        box-shadow: 0px 0px 40px 20px #0ff;
        outline: 20px solid aqua;
        z-index: 3;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }

    &.selected,
    &.selected:hover {
        box-shadow: 0px 0px 7px 2px green;
        //transform: scale(1.1);
        z-index: 4;
    }
}
 
#myt_board_tiles{
    .myt_tile{
        width: 370px;
        height: 370px;
        border-radius: 40px;
    }
}

.myt_tile_tooltip{
    .myt_tile{
        width: 200px;
        height: 200px;
        border-radius: 30px;
    }
}

.myt_player_tiles{
    .myt_player_toptile{
        .myt_tile{
            &::after,
            &::before{  
                content: "";
                position:absolute;  
                top: 5px;
                left: 5px;
                width: $tile_width;
                height: $tile_height;
                border: 2px solid black;
                border-top: none;
                border-left: none;
                border-radius: 20px;
                //background-color: black;
            }
            &::after{
                top: 2px;
                left: 2px;
            }
        }

    }
}