:root {
    --myt_board_display_scale: 0.14; 
    //--reserve_stack_scale: 1; 
    --myt_board_card_width: 465px; 
    --myt_board_card_height: 930px; //SHOULD BE 2* width to keep image ratio
    --myt_board_cards_stack_min: 3; 
    --myt_board_cards_stack_max: 1; 
    --myt_board_cards_stack_height_ratio: 0.15; 

}
 